body{text-align:center;background:#333;color:#fff;font-size:14px;font-family:'Open Sans',sans-serif;font-weight:bold;letter-spacing:0.08em;padding:0.25em;}
.poster-wrapper{background:#fffedf;color:#67310b;max-width:25em;margin:0 auto;padding:0.4em;}
.poster-bg{padding:0.2em;border:0.1em solid #67310b;}
.poster{border:0.2em solid #67310b;padding:0.5em;}
.feature{border:0.2em solid #67310b;border-left:0;border-right:0;margin:0.5em 0.8em;width:auto;overflow:hidden;display:flex;align-items:center;justify-content:center;}
.feature div{width:35%;float:left;text-transform:uppercase;font-size:0.7em;}
.feature div.feature-center{width:30%;}
.feature img.horseshoe{width:100%;color:#67310b;margin:0.5em auto;}
h1{text-transform:uppercase;font-family:'Ultra',serif;font-size:2.75em;letter-spacing:0.1em;line-height:1.3;margin:0;}
p{max-width:20em;margin:1em auto;}
.apply-now span{text-transform:uppercase;letter-spacing:normal;}
.apply-now span{text-transform:uppercase;}
.apply-now a{color:#67310b;display:block;padding:0.5em;text-decoration:none;}

.footer{margin:1em;font-size:0.66em;}
.footer a{color:#ddd;}

@media (min-width: 375px) {
  .feature div{font-size:0.8em;}
  h1{font-size:3em;}
}
@media (min-width: 414px) {
  body{font-size:18px}
}
@media (min-width: 600px) {
  body{font-size:24px}
  h1{font-size:3.3333em;}
  .feature div{font-size:0.7em;}
}
